:root {
    --grey: #777;
    --white: #fff;
    --dark: #696969;
    --ligth-grey: #dcdcdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    padding: 0 20px;
    margin: 20px auto 0;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

a {
    color: var(--white);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    padding: 20px;
    text-align: right;
}

header div {
    height: 108px;
    background: var(--grey);
}

.header__logo {
    width: 122px;
}

.header__more-information {
    width: 279px;
    margin: 0 20px;
}

.header__contacts {
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--dark);
    padding: 20px 0;
    border-bottom: 1px solid var(--dark);
    margin: 20px auto;
}

aside {
    height: fit-content;
    padding: 15px;
    margin-right: 20px;
    background: var(--grey);
}

aside li:first-child {
    font-weight: bold;
}

.content__center {
    width: 100%;
}

.content__center-first {
    width: 100%;
    min-height: 210px;
    padding: 20px;
    background: var(--ligth-grey);
    color: var(--dark);
    margin-bottom: 20px;
}

.content__center-first ul {
    margin: 20px 0 20px 45px;
    list-style-type: disc;
}

.content__center-middle {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.content__center-middle div {
    width: calc(20% - (80px / 5));
    min-height: 160px;
    background: var(--ligth-grey);
}

.content__center-last {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content__center-last div {
    width: 100%;
    padding: 20px;
    background: var(--ligth-grey);
    color: var(--grey);
}

footer {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

footer > div {
    width: 100%;
    background: var(--grey);
}

.footer__first ul {
    column-count: 2;
    padding: 20px;
}

.footer__middle ul {
    padding: 20px;
    list-style-type: square;
}

.footer__last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background: none;
}

.footer__last > div {
    width: 100%;
    height: 100%;
    background: var(--grey);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .content__center-middle div {
        width: calc(100% / 3 - (40px / 3));
    }
}

@media only screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }

    .header__logo {
        margin-right: 20px;
    }

    .header__more-information {
        order: 3;
        width: 100%;
        margin: 20px 0 0;
    }

    .header__contacts {
        width: auto;
        flex: 1;
    }

    .content {
        display: block;
    }

    aside {
        height: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .content__center-middle div {
        width: calc(100% / 3 - (40px / 3));
    }

    .content__center-last {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .footer__first ul {
        column-count: 3;
    }

    .footer__middle ul {
        column-count: 2;
    }

    .footer__last {
        height: 200px;
    }
}
